build/
.editorconfig

*.pyc

.vscode/settings.json

scripts/knn_data_1.pth

scripts/knn_data_2.pth

scripts/model_final_f10217.pkl

scripts/saved_masks/box/

scripts/test_data_coil-100.pth

*.png

scripts/datafiles/13_07_data_aug.pth

scripts/datafiles/13_07_data.pth
